.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    max-height: 900px;
    width:100%;
    height: 100%; 
    border: solid transparent 4px;
    margin: 0 auto;    
    }
 
    /* App Header */
.appHeader {
  width: 100%;
  border-bottom: 1px solid seashell; /* the line */
  display: flex;
  justify-content: center;
}

.avatar {
  margin-top: 15px;
  border-radius: 50%;
}

.appHeaderInner {
  max-width: 900px;   /* match your app container width */
  margin: 0 auto;     /* centers it */
  padding: 9px 20px; /* responsive spacing */
}

.appTitle {
  margin: 0;
  letter-spacing: -5px;   /* ← makes letters closer */
}

.accent {
    color: #3B82F6; 
}

    

/* Logged Out */
.apploggedOut {
 display: flex;
 flex-direction: column;   
 border: solid transparent 4px;
 height: 100%;
 max-width: 300px;
 justify-content: space-around;
 align-items: center;   
}


.paragraph {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif;

  font-size: 17px;          /* Spotify uses slightly compact sizing */
  line-height: 1.45;        /* airy but not loose */
  font-weight: 400;         /* regular weight for info text */
  letter-spacing: 0;        /* Circular has very neutral tracking */

  color: white;           /* Spotify's near-black */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;



  text-align: center;
  margin-top: 100px;
}

button { 
    max-width: 225px;
    width: 100%;
    border-radius: 8px; 
    border: 2px solid #1DB954;
    padding: 9px;
    font-size: 7px;
     font-weight: 500; 
     font-family: inherit; 
     font-size: 22px;
     background-color: #1a1a1a; 
     cursor: pointer;
    transition: border-color 0.25s;
     margin-bottom: 70px;
}

.button:hover {
  border-color: #52FFA3;
}
 
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



/* Logged In*/

.apploggedIn {
display: flex;    
width: 100%;
height: 100%;
border: solid transparent 4px;
justify-content: center;
}

.avatar {
  width: 45px;
  height: 45px;
}
.searchbar {
width: 600px;
height: 100%;
border: solid transparent 4px;
display: flex;
flex-direction: column;
align-items: center;
padding-top: 4rem; /* tweak this */
}

.playlist{
width: 600px;
height: 100%;
border: solid transparent 4px;
display: flex;
flex-direction: column;
align-items: stretch; /* stretch is default, not needed just fyi*/
padding-top: 4rem; /* tweak this */
}


.searchresults{
 max-width: 500px;
 width: 100%; 
 max-height: 625px;      /* controls when scrolling starts */
 overflow-y: auto;      /* vertical scrollbar */
 overflow-x: hidden;
 border: 1px solid transparent; 
 margin-top: 15px;
 
 
}

