.app{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100%;
    height: 100%; 
    border: solid white 4px;
    }


.apploggedOut {
 display: flex;
 flex-direction: column;   
 border: solid white 4px;
 height: 100%;
 justify-content:space-between;   
}


.img{
    padding-top: 0;
    margin-top: 0;
    width: 300px;
    height:300px;
}

button { border-radius: 8px; 
    border: 1px solid transparent; 
    padding: 1em 1.2em; 
    font-size: 1em;
     font-weight: 500; 
     font-family: inherit; 
     font-size: 22px;
     background-color: #1a1a1a; 
     cursor: pointer;
    transition: border-color 0.25s;
    margin-bottom: 100px; }

.button:hover {
  border-color: #646cff;
}
 
.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

