.trackbox {
 background-color: transparent;
 border: 1px solid transparent; 
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 0;
 color: white;
 width: 100%; 
 padding: 5px;
}

.trackbox button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    min-width: 32px;
    min-height: 32px;
    max-width: 32px;
    max-height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border-color:  rgb(255, 180, 180);
}

.trackbox button:hover {
  border-color: rgb(235, 120, 120);  
}

.trackbox:hover {
  background-color: rgba(200, 200, 200, 0.15);
}