html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

/* the above: margin: 0 → removes the browser’s default spacing
width: 100% → lets children use the full viewport width
min-height: 100% → allows vertical stretching and centering
html, body, #root → ensures every parent of your app participates in layout */

/* Base theme + typography */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Body layout */
body {
  margin: 0;
  display: flex;
  justify-content: center;
}

/* React root container */
#root {
  flex: 1;
  align-self: stretch; /* That forces #root to actually occupy the full height/width that body has */
  width: 100%;
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Page background */
body {
  background-image: url('./imgs/backgroundimg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
}

/*@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}*/
